@import "../utils/variables.scss";

@mixin container {
  height: 90vh;
  padding: 0 100px;

  @media (max-width: $l-device) {
    padding: 0 50px;
  }
  @media (max-width: $m-device) {
    padding: 0 20px;
  }
}

@mixin animeLeft {
  transform: translateX(-20px);
  opacity: 0;
  animation: animeLeft 0.5s forwards;

  @keyframes animeLeft {
    to {
      transform: initial;
      opacity: initial;
    }
  }
}

@mixin btn {
  border: none;
  outline: none;
  font-size: 16px;
  background-color: $color-blue-1;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $color-blue-2, 0 0 0 3px $color-blue-2;
  }
}
