@import "../../styles/utils/variables.scss";
@import "../../styles/mixin/mixin.scss";

.container-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100%;

  .titleContact {
    font-weight: 400;
    letter-spacing: 2px;
    color: $color-green-1;
  }

  .container-iconsContact {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    .link-contacts {
      width: 24px;
      height: 24px;

      .icons-contact {
        width: 100%;
        height: 100%;
        color: $color-green-1;
        transition: 0.2s;

        &:hover {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
  .madeBy {
    font-size: 10px;
    letter-spacing: 2px;
    color: $color-gray-1;
  }
}
