@import "../utils/variables.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: $color-black-2;
  color: $color-white-1;
  list-style: none;
  text-decoration: none;
}
