// Colors

$color-black-2: #212226;

$color-blue-1: #4f80e2;
$color-blue-2: #3e54d3;

$color-green-1: #15cdca;
$color-green-2: #4fe0b6;

$color-white-1: #f7f7f7;

$color-gray-1: #9c9c9c;

//Media query

$l-device: 1024px;
$m-device: 768px;
$s-device: 580px;
$sm-device: 395px;
