@import "../../styles/utils/variables.scss";
@import "../../styles/mixin/mixin.scss";

.container-infoCarts {
  .container-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    @media (max-width: $m-device) {
      margin: 0;
    }

    .container-img {
      height: 40vh;
      box-shadow: 0 0 7px $color-green-1;

      .img-portfolio {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .container-tools {
      display: flex;
      justify-content: center;
      gap: 10px;
      align-items: center;

      .tools-link {
        background-color: $color-blue-1;
        padding: 5px;
        border-radius: 10px;
      }
    }
    .container-btn {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;

      .btn {
        @include btn;
      }
    }
  }
}
