@import "../../styles/utils/variables.scss";
@import "../../styles/mixin/mixin.scss";

.titleCurriculo {
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
  color: $color-green-1;
}

.container-curriculo {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  @media (max-width: $m-device) {
    grid-template-columns: 1fr;
  }

  .imgCurriculo {
    height: 70vh;
    width: 100%;

    @media (max-width: $m-device) {
      display: none;
    }
  }

  .container-desc {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    gap: 10px;

    @media (max-width: $m-device) {
      padding: 0;
    }
    @media (max-width: $sm-device) {
      font-size: 14px;
    }

    .info-curriculo {
      display: grid;
      grid-template-columns: 40% auto;
      letter-spacing: 1.5px;
      @media (max-width: $s-device) {
        word-break: break-word;
      }
    }
  }

  .container-btn {
    margin-top: 10px;
    .btn {
      @include btn;

      .iconBook {
        background-color: transparent;
        margin-left: 5px;
        width: 12px;
        height: 12px;
      }
    }
  }
}
